<div class="container">
  <div class="header">
    <h2>NOVA ADMISSÃO COOPERADO</h2>
    <p class="subtitle">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
  </div>

  <div class="d-flex">
      <mat-icon class="icons">notifications</mat-icon>
    <div class="logo-container">
      <span class="logo-text">VIACREDI</span>
    </div>
    <div class="profile-container">
      <div class="avatar-wrapper">
        <mat-icon class="icons" >account_circle</mat-icon>
      </div>
    </div>
  </div>


</div>
