<!-- src/app/app.component.html -->
<div class="app-container">
  <div class="sidebar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>
    <div class="menu">
      <a href="#" class="menu-item">
        <i class="menu-icon icon-home"></i>
      </a>
      <a href="#" class="menu-item">
        <i class="menu-icon icon-search"></i>
      </a>
      <a href="#" class="menu-item">
        <i class="menu-icon icon-star"></i>
      </a>
      <a href="#" class="menu-item">
        <i class="menu-icon icon-message"></i>
      </a>
      <a href="#" class="menu-item">
        <i class="menu-icon icon-document"></i>
      </a>
      <a href="#" class="menu-item">
        <i class="menu-icon icon-bank"></i>
      </a>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
